/*
Denne siden er utviklet av Erik Bjørnflaten og Dag-Roger Eriksen, siste gang endret 27.03.2014
Denne siden er kontrollert av Kurt A. Aamodt siste gang 01.05.2014 
*/

/*----Sideboks----*/				
.aside {
	width:auto;	
	float:left;
    padding-left: 4%;
	padding-bottom: 20px ;
	background-color:#EEEEEE;	
	margin-top: 25px;
}
	
/*----Innlogging----*/
#loginform {
	width:20%;
	height:100% auto;

}

fieldset {
	border:0;
}

form h2 {
	margin:0px;
	margin-bottom:10px;
}

form span {
	display:inline-block;
	margin-top:10px;	
}

.test {
    list-style-type: none;
}

/*----Input felt----*/
#brukernavn, #passord, #e-post {
	width: auto;
	height: auto;
	font-size: 0.9em;
}

/*----Knappene----*/
#loinknappen, #glpwknapp, #sendnytt {
	width:80px;
	height:35px;
	background:white;
    color:#000;
    font-size: 1em;
    margin-left: 0px;
    margin-top: 10px;


    /*----Runde hjørner----*/
    border: 1px solid #999;	
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	outline: 0;
}

#glpwknapp {
	width:110px;
}

#sendnytt {
	width:110px;
}

#loinknappen:hover, #glpwknapp:hover,  #sendnytt:hover {
	background:#99CCFF;
}

/*Registreringslink*/
#reglink:link {
color: white;
}
#reglink:visited {
color: white;
}
#reglink:hover {
color: #99CCFF;
}
#reglink:active {
color: #00FF00;
}