/*
Denne siden er utviklet av Erik Bjørnflaten og Dag-Roger Eriksen, siste gang endret 27.03.2014
Denne siden er kontrollert av Dag-Roger Eriksen siste gang 28.03.2014 
*/

/*----Sideboks----*/				
.aside {
	width:20%;	
	float:right;
    padding-left: 2%;
	padding-bottom: 20px ;
	background-color:#FFF;	
	
}
	
/*----Innlogging----*/
form {
	width:95%;
	height:100% auto;
	margin:auto;
	position:relative;
	padding:7px;
		
	
			
	font-weight:normal;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
}

fieldset {
	border:0;
}

form h2 {
	margin:0px;
	margin-bottom:10px;
}

form span {
	display:inline-block;
	margin-top:10px;	
}

#loinknappen, #glpwknapp, #sendnytt {
	width:80px;
	height:35px;
	background:#99CCFF;
    color:#000;
    font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    font-size: 1em;
    margin-left: 0px;
}

#glpwknapp {
	width:110px;
}

#sendnytt {
	width:110px;
}

#loinknappen:hover, #glpwknapp:hover,  #sendnytt:hover {
	background:#09C;
	color:#000;
}