/*
Denne siden er utviklet av Erik Bjørnflaten og Dag-Roger Eriksen, siste gang endret 30.04.2014
Denne siden er kontrollert av Kurt A. Aamodt siste gang 01.05.2014
*/




header, section, footer, aside, article, figure {
display: block;
}

input[type="submit"]:hover, input[type="button"]:hover {
 color:#99CCFF;
}

input, textarea, select {
    background:#efefef;
    border:1px solid #dedede;
    color:#3a3a3a;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    padding: 5px;
}

input:focus, textarea:focus, select:focus {
    border:1px solid #97d6eb;
}


input[type="image"] {
    background:none;
    border: none;
}

/*Setter farge på den aktive siden i menyen*/
body#profil a#nav-profil,
body#oppgave a#nav-oppgave,
body#medlemmer a#nav-medlemmer,
body#skriv a#nav-skriv,
body#sidenmin a#nav-minside
{
color: #97d6eb;
}

body {

width:100%;
background-color:#EEEEEE;
margin: 0px;
padding: 0px;
text-align: left;
font-family: 'Roboto Slab', serif;

}

p {
font-family: 'Roboto Slab', serif;
font-size: 100%;
font-weight:normal;
line-height: 1.429;
}

/* Headings */
h2 {font-size: 1.571em}	/* 22px */
h3 {font-size: 1.429em}	/* 20px */
h4 {font-size: 1.286em}	/* 18px */
h5 {font-size: 1.143em}	/* 16px */
h6 {font-size: 1em}	/* 14px */
 
h2, h3, h4, h5, h6 {
font-weight: 400;
line-height: 1.1;
margin-bottom: .8em;
font-family: 'Roboto', sans-serif;
}

a:link, a:visited{
color:#000;
text-decoration:none;	
font-weight:normal;
}

a:hover, a:active{
color:#09C;
}



.innloggboksfixed{
width:9%;
height:auto;
position:fixed;
z-index:100;
padding:1% 2% 1% 1%;
margin-left:0.6%;
margin-top:-4%;
background-color:#5B5B5B;
color:#fff;
border-radius:5%;
border: 3px solid #000;
}



/*----Hovedboks----*/
section {
width:79%;
min-height:auto;
margin-top:0%;
margin-left:13.5%;
margin-right:auto;
padding-top: 100px;
padding-left: 3%;
padding-bottom: 300px;
padding-right: 3%;
background-color:#fff;
border-left: 2px solid #000;
border-right:2px solid #000;

}
.clear { clear: both; }

section h2 {
font-size:2.2em;
}

section p {
font-size:0.9em;	
}

.midtfelt {
width:69%;
height:auto;	
padding-left: 2%;
padding-right: 2%;
padding-bottom:3%;
background-color:#fff;

}

.bilde{
border: 1px solid #fff;
float: right;
margin-left: 10px;

}

/*----Footer----*/
footer {
color:#fff;
position:fixed;
width: 100%;
height: 80px;
bottom:0px;
    left:0px;
    right:0px;
    margin-bottom:0px;
background-color:#5B5B5B;
}

.fotinfo{
margin-top:1%;
float:left;
margin-left:8%;

}
.fotinfom{
float:left;
margin-left:8%;

}

footer h3 {
text-align:center;
margin-top: 15px;
}

footer h4 {
text-align:center;
}

footer h5 {
margin-top: -10px;
margin-bottom: -20px;
text-align:center;
font-size: 0.9em;
}

footer a {
text-align:center;
font-size:1em;
}


/*Knapper med mørk bakgrunn og hvit skrift*/
.buttonStyle {
margin-top:2%;
height:30px;
width:100px;
color:#fff;
background-color:#5B5B5B;
border:1px solid #000;
-webkit-border-radius: 5%;
-moz-border-radius: 5%;
border-radius: 5%;
outline: 0;
}






/*For nedtrekksmenyene*/
.dropned{
background-color:#5B5B5B;
color:#fff;
font-size:1em;
border:0px;
border-radius:2%;
font-size:0.9em;
}
/************************/

/*For søkeboks på oppgave.php og skriv.php*/
#search {
background-color:#5B5B5B;
color:white;
max-width: auto;
}
/************************/