
/*
Denne siden er utviklet av Erik Bjørnflaten siste gang endret 13.04.2014
Denne siden er kontrollert av Dag-Roger Eriksen siste gang 28.03.2014
*/

#container {
float:left;
    width: 38%;
    height: 24.5%;
    background: #5B5B5B;
margin-left:28%;
margin-top:-10%;

/*Runde kanter og skygge*/
-webkit-border-radius: 15%;
-moz-border-radius: 15%;
border-radius: 15%;
padding:0.4%;
border: 1px solid #000;
border: inset 1px solid #333;
-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 1);
-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 1);
box-shadow: 0px 0px 8px rgba(0, 0, 0, 1);

    font-size:0.8em; 
    font-weight:normal;
}

#keyboard {
    float:both;
    margin-left:-6%;
    margin-top:2%;
    list-style: none;
    width:100%;
    height:2%;
}


#keyboard li {
float: left;
margin: 0 1% 1% 0;
width: 5%;
height: 600%;
line-height: 300%;
text-align: center;
background: #fff;


/*Runde kanter og skygge*/
-webkit-border-radius: 10%;
-moz-border-radius: 10%;
border-radius: 10%;
padding:0.1%;
border: 1px solid #999;
border: inset 1px solid #333;
-webkit-box-shadow: 0 0 0 1px rgba(0, ,0 0, 1);
-moz-box-shadow: 0 0 0 1px rgba(0, 0, 0, 1);
box-shadow: 0 0 0 1px rgba(0, 0, 0, 1);
}
/*---- taster med flere tegn ----*/ 
.on {
    font: 80% Verdana, Sans-Serif;
    display: inline-block;
    margin-left: -80%;
    vertical-align: top;
}

.on2 {
    font: 10% Verdana, Sans-Serif;
    display: inline-block;
    margin-left: -20%;
    vertical-align: bottom;
    padding-bottom:-5%;
margin-top:1%;
}

#keyboard .tegn, .left-shift, .tab, .delete, .capslock, .caps, .capsen, .return, .left-shift, .right-shift, .ctrll, .ctrlr, .altgr, .lalt, .space {
    font-size:70%;
}
/*----Spesialtegnene på tastaturet----*/
#keyboard .left-shift {
clear: left;
width: 100%;
margin-top: 100%;
}

#keyboard .tab {
clear:left;
line-height: 100%;
width: 8%;
font-size:100%;
}

#keyboard .delete {
width: 11.5%;
line-height: 100%;
font-size:100%;
}

#keyboard .capslock {
width: 10%;
font-size:65%;
clear: left;
}

#container .caps {
height:0%;
width:0%;
float:right;
margin-left:27.43%;
margin-top:-0.15%;
position:absolute;
border:none;
background:none;
list-style:none;
}

#keyboard .capsen {
height:0%;
width:0%;
margin-top:-1.5%;
line-height: 100%;
margin-left:87.8%;
position:relative;
border:none;
background:none;
list-style:none;
}

#keyboard .left-shift {
width: 9.3%;
font-size:100%;
line-height: 180%;
margin-top: 0%;
}

#keyboard .right-shift {
width:13.6%;
font-size:100%;
line-height: 180%;
margin-top: 0%;
}

    #keyboard .ctrll {
width: 9%;
font-size:65%;
clear: left;
}

#keyboard .ctrlr {
width: 9.6%;
font-size:65%;
margin-left:10%;
}

#keyboard .altgr {
width: 7%;
font-size:65%;
}
           
    #keyboard .lalt {
width: 7%;
margin-left:8%;
font-size:65%;
}

#keyboard .space {
width: 39.5%;
border-radius:5%;
}

.uppercase {
text-transform: uppercase;
}

/*KAN IGRUNN TAS BORT !!!*/
.cltekst{
color:#000;
text-align:right;
font-size:1%;
margin-right:8%;
}
#keyboard .return {
 font-size:5%;
width:6.5%;
height:1420%;
margin-top: -6.3%;
margin-right: 2%;
border-right:1px solid #999;
border-top:1px solid #999;
border-bottom:1px solid #999;
border-left:1px solid #999;
}

/*---- laget for å få utseende på enter ----*/
#keyboard .xreturn {
     width: 3%;
        left:1.5%;
        height:600%;
border-top:1px solid #999;
border-bottom:1px solid #999;
border-left:1px solid #999;
margin-left:0.1%;
margin-top:0.1%;



    }   

    #keyboard .white {
        text-align:top;
width:5%;
margin-top:0.1%;
        z-index: 1;
        position:relative;
        right:3%;
        height:600%;
        top:0%;
-webkit-border-radius:0;
        -moz-border-radius:0;
        border-radius:0;
        border-right:none;
        border-left:none;
        border-bottom:none;
        -webkit-box-shadow: none;
        -moz-box-shadow:none;
        box-shadow:none;
}

#keyboard .under{
        padding-right:5%;
    }

/*---- lastitem er for noen av tastene i enden av rekken ----*/ 
.lastitem {
margin-right: 0%;
}


/*---- Bare testing i første omgang ----*/
.showrediger{
display:"";
}

.showlagre{
display:none;
}

/* ---- Innholdet på brukerforsiden ---- */

.visskjul, .lagropg, .innleverop, .stopkn, .resetkn{
     color:#fff;
    background-color:#5B5B5B;
    height:5%;
    margin-top:2%;
    margin-right:1%;
    width:25%;
    border:1px solid #000;
/*----Runde hjørner----*/
   
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    border-radius: 5%;
}

.bfleft{
    width:20%;
    height:auto;
    margin-left:-2%;
    margin-top:3%;
    float:left;

}

.bfright{
    margin-top:3%;
    width:25%;
    height:60% auto;
    float:right;
    margin-left:1%;

}

#opgtekst {
    width: 96%;
    height: 92%;
    margin-left:2%;
    margin-top:2%;
    border: 1px solid #000;
    padding: 5px ;
    margin-top:2%;
    margin-bottom:6%;
    float:left;
}
#opgtekst:focus {
    background: green;
}
.uboliste{
    overflow: auto;
    width:16.9%;
    height:auto;
    position:absolute;
    margin-top:20%;
    margin-left:-1.7%;
}

.uboliste2{
    overflow: auto;
    width:20%;
    height:30%;
    position:absolute;
    margin-top:20%;
    margin-left:-1.7%;

}

.valgmuligheter{
    height:60%;
    width:100%;
}
.oppgavetittel{
    height:3%;


}
.fasit{
    overflow: auto;
    margin-top:3%;
    border:1px solid #000;
    height:60%;
    padding-left:-5%;
}

.opgtextramme{
    margin-top:4%;
    margin-left:8%;
    width:44%;
    height:35%;
    float:left;
    border:1px solid #000;
    background-color:#5B5B5B;

   -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 4);
-moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 4);
box-shadow: 0px 0px 10px rgba(0, 0, 0, 4);
}


.ubotitt{
 margin-top:-5%;

}

.fborder{
border-top:none;
border-right:none;
border-left:none;
}
.ubesform {
margin-left:1%;
border-top:none;
border-right:none;
border-left:none;
padding-top:0.5%;

}



