/*
Denne siden er utviklet av Erik Bjørnflaten og Mikael kolstad, siste gang endret 02.03.2014
Denne siden er kontrollert av Dag-Roger Eriksen siste gang 28.03.2014 
*/

.minsinput {
	background-color:#FFFFFF;
	border:solid 1px black;
}

#page {
	margin-left:auto;
	margin-right:auto;
	margin-top:10px;
	margin-bottom:10px;
	width:90%;
	background-color:#FFF;
	border-width:medium;
	
	
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	
	border: 2px solid #99CCFF;
	
}

#minside {
	float:left;
	margin-top:1%;
	width : 30%;
	height:40%;
	background-color : #FFF;
	
}

#byttpw {

	width : 50%;
	height:70%;
	margin-left: 10%;
	position : relative;
	border-radius : 10px;
	font-size : 0.8em;
}


#pwknapp {
	height:30px;
	width:100px;
}

#pwknapp:hover {
	background : #09C;
	color : #000;
}

.bpbilde{
	padding-left:auto;
	padding-top:3%;
	padding-right:auto;
	text-align:center;
	border:1px solid #000;
	border-radius:5px;
	box-shadow : 0 0 8px rgba(0, 0, 0, 0.3);
	height:65.2%;
	width:85%;
}

.profinfo{
	width:85%;
	margin-left:1%;
	margin-top:15%;
}

.ikkeferi{
	float:left;
	height:56%;
	margin-left:5%;
	padding-right:5%;
	border-right:1px solid #000;
}
.bfred{
float:right;

}

.msvenstre{
	float:left;
	margin-top:1%;
	margin-left:5%;
	border-right:1px solid #000;
	padding-bottom:5%;
	height:45%;
	width:25%;
}


/*--- Brukerforside ----*/		
#bfvenstre{
	width:65%;
	margin-left:-4%;
	float:left;
	border: 1px solid#000;
}

#bfhoyre{
	width:30%;
    margin-right:3%;
    float:right;
    height:250px;
    
}

.tabbes{

}
.logoforslag{
;

	float:left;

}