/*
Denne siden er utviklet av Erik Bjørnflaten og Mikael kolstad, siste gang endret 02.03.2014
Denne siden er kontrollert av Dag-Roger Eriksen siste gang 28.03.2014 
*/

#page {
	margin-left:auto;
	margin-right:auto;
	margin-top:10px;
	margin-bottom:10px;
	width:90%;
	background-color:#FFF;
	border-width:medium;
	
	
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	
	border: 2px solid #99CCFF;
	
	-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

#minside {
	float:middle;
	margin-left : auto;
	margin-right : auto;
	margin-top : 10px;
	margin-bottom : 10px;
	width : 50%;
	height:550px;
	background-color : #FFF;
}

#byttpw {
	float:middle;
	width : 30%;
	margin : auto;
	position : relative;
	border-radius : 10px;
	padding : 7px;
	border : #999 solid 1px;
	box-shadow : 0 0 8px rgba(0, 0, 0, 0.3);
	font-size : 0.8em;
}


#pwknapp {
	height:30px;
	width:100px;
}

#pwknapp:hover {
	background : #09C;
	color : #000;
}


/*--- Brukerforside ----*/		
#bfvenstre{
	width:65%;
	margin-left:-4%;
	float:left;
	border: 1px solid#000;
}

#bfhoyre{
	width:30%;
    margin-right:3%;
    float:right;
    height:250px;
    
}

.tabbes{

}
.logoforslag{
;

	float:left;

}