/*
Denne siden er utviklet av Erik Bjørnflaten, siste gang endret 17.03.2014
Denne siden er kontrollert av Dag-Roger Eriksen siste gang 28.03.2014 
*/


/* CSS Document */

/*CSS styling for dialogboksen som viser oppgaver på oppgave.php*/
.modalDialog {
	position:fixed;
	overflow:scroll;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

	.modalDialog:target {
		opacity:1;
		pointer-events: auto;
	}

	.modalDialog > div {
		width: 500px;
		position: relative;
		margin: 10% auto;
		padding: 5px 20px 13px 20px;
		border-radius: 10px;
		background: #fff;
		background: -moz-linear-gradient(#fff, #999);
		background: -webkit-linear-gradient(#fff, #999);
		background: -o-linear-gradient(#fff, #999);
	}

/*Lukk knappen på dialogboksen*/
.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

	.close:hover { 
		background: #00d9ff; 
	}

/*****************************************************/


#nyOppgave{
	float:left;
	width:22%;
	height:auto;
	margin-left:1%;
	margin-right:2%;
	margin-top:1%;
	margin-bottom:1%;
}

#oppgtitt{
	width:40%;
	margin-top:1%;
	margin-left:30%;
	margin-right:30%;
}

#oppgtext{
    width:98%;
    height:300px; 
	margin-right:1%;
}

.hentPdf{
	width:500px;
}

#publiser, #hentPdf{
	width:75px;
	height:30px;
}

#publiser{
	float:left;
	margin-left:1%;
}

#hentPdf{
	float:right;
}

#oppTab{
	float:right;
	width:68%;
	height:400px;
	margin-top:1%;
	margin-right:5%;

}