/*
Denne siden er utviklet av Erik Bjørnflaten og Dag-Roger Eriksen, siste gang endret 15.05.2014
Denne siden er kontrollert av Kurt A. Aamodt siste gang 30.05.2014 
*/
span, p {
	font-size:0.9em;
}

* {  
    margin: 0;  
    padding: 0 auto;  
}

.printfont {
	font-weight:bold;
	font-family: "Arial Black", Arial, sans-serif;
}

.printcss {
	margin-top:40px;
}

header, nav, footer, aside, article, figure {
display: none;
}

body, html { 
  height: 100%; 
  width: 793px;
}

body {
	display: table; 
	-webkit-print-color-adjust: exact;
	background: white;
}


section {
background-color:#fff;
border:0px;
padding: 0%;
margin: 0%;
}

section h2 {
font-size:2.2em;
}

section p {
font-size:0.9em;	
}

table {
	padding: 0;
	margin: 0;
	padding-left: 0;
	margin-left: 0px;
	width: 700px;	
}


td, th, table {
	border:0;
	font-size:0.9em;
	background: white;
	border-collapse:collapse;
  	text-align:left;
  	vertical-align: left;
}



th {
	color:black;
	padding: .5em .5em;
	min-width:120px;
	font-weight:bold;
	font-family: "Arial Black", Arial, sans-serif;
}

a {
	visibility: hidden;
}

