/*
Denne siden er utviklet av Erik Bjørnflaten og Dag-Roger Eriksen siste gang endret 30.03.2014
Denne siden er kontrollert av Dag-Roger Eriksen siste gang 30.03.2014 
*/

/* CSS Document */




#sorterbtn {
	height:30px;
	width:104px;
	margin-left:auto;
	margin-right:auto;
	background-color:black;
	color:white;
}

table {
	border-collapse:
	collapse;
	width:95%;
    empty-cells:show;
	}

td, th, table {
	font-size:0.8em;
	border:1px solid;
	margin-left:25px;
	margin-right:25px;
}
		
.tab1 {
	width:25%;
	height:25px;
	margin-top:20px;
	margin-bottom:2px;
	background:#99CCFF;
}

.tab2 {
	width:20%;
	background:#99CCFF;
}

.paakrev{
	margin-left:25px;
}

.tarea {
	width:98%;
    margin:2px;
    background:#CCC;
    color:black;
}

.bliste {
	margin-left:10%;
	overflow:scroll;
	height:300px;
	clear:right;
	width:80%;
	background-color:#fff;
	border: 0px solid #999;
	border: inset 1px solid #333;
	-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}
		
.tablesorter {
	width:100%;
	background-color:#fff;
	margin-left:0;
}

.formSorter {
	border: none ;
}

.tabheader{
	margin-left:10%;
	height:auto;
	clear:right;
	width:80%;
	margin-bottom:15px;
	background-color:#fff;
	border: 1px solid #999;
	border: inset 1px solid #333;
	-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}
	
.knapp, .lknapp{
	width:55px;
	margin-left:2px;
	margin-right:2px;
	border: inset 1px solid #333;
	-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}
		
.lknapp{
	display:none;
	margin-left:2px;
	margin-right:2px;
	float:left;
}
	
button{
	padding:0px 2px;
}
	
.leggtilbruker {
	clear:left;
	margin-top:5px;
	margin-left:10%;
	height:190px;
	width:80%;
}
	
.leggtilny{
	width:150px;
	height:35px;
	background:#99CCFF;
    color:#000;
    font-size: 1em;
    margin-left: 0px;
    margin-top: 10px;

    /*----Runde hjørner----*/
    border: 1px solid #999;	
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	outline: 0;
}

.leggtilny:hover {
	background:#09C;
}
	
.redsle{
	border:none;
	height:30px;
	text-align:center;
}
	
	tbody#liste:before {
	    line-height:1em;
	    content:"-";
	    color:white; /* to hide text */
	    display:block;
	}

table#myTable {
    /* collapsed, because the bottom shadow on thead tr is hidden otherwise */
    border-collapse: collapse;
}

th {
	padding: .5em .5em;
}


/* Shadow on the header row*/
thead tr {
	box-shadow: 0 1px 10px #000000;
}