/*----
//Denne siden er utviklet av Erik Bjørnflaten, siste gang endret 02.03.2014
//Denne siden er kontrollert av Erik siste gang 03.03.2014 
----*/
/* CSS Document */
body {
	background-color:#EBEBEB;
	
}

#page {
	margin-left:auto;
	margin-right:auto;
	margin-top:10px;
	margin-bottom:10px;
	width:90%;
	background-color:#FFF;
	border-width:medium;
	
	
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	
	border: 2px solid #99CCFF;
	
	-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}
table {
	border-collapse:
	collapse;
	width:95%;
    empty-cells:show;
	
	}

td, th, table {
border:1px solid;
	margin-left:25px;
	margin-right:25px;
	
	}
	
	
.tab1 {
	width:25%;
	height:25px;
	margin-top:20px;
	margin-bottom:2px;
	background:#99CCFF;
	
	

}

.tab2 {
	width:22%;
	background:#99CCFF;
	
	}
	
	
.paakrev{
		margin-left:25px;
		}

h1 {font-size:24px;}
h2 {font-size:20px;
}

.tarea {
	width:98%;
    margin:2px;
    background:#CCC;
    color:black;
}

.bliste {
	margin-left:10%;
	overflow:scroll;
	height:300px;
	clear:right;
	width:80%;
	background-color:#fff;
	border: 0px solid #999;
	border: inset 1px solid #333;
	-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	}
	
	
	.tablesorter {
	width:100%;
	background-color:#fff;

	margin-left:0;
	}
	
	
	.tabheader{
		margin-left:10%;
		height:auto;
		clear:right;
		width:80%;
		margin-bottom:15px;
		background-color:#fff;
		border: 1px solid #999;
		border: inset 1px solid #333;
		-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
		-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
		box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	}
	
     .knapp, .lknapp{
		width:55px;
		;
		margin-left:2px;
		margin-right:2px;
	border: inset 1px solid #333;
	-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
		}
		
	.lknapp{
		display:none;
		margin-left:2px;
		margin-right:2px;
		float:left;
		}
	
	button{
	padding:0px 2px;
	}
	
	.leggtilbruker {
	clear:left;
	margin-top:5px;
	margin-left:10%;
	height:190px;
	width:80%;
	
	}
	
	#leggtilny{
		margin-top:30px;
		margin-bottom:5px;
		height:300px;
		width:100px;
		float:both;
	}
	
	input[type=submit] {
		margin-top:5px;
		margin-bottom:5px;
		height:50px;
		width:110px;
		float:both;
		margin-left:25px;
		-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
		-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
		box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	}

		
    #loggav{
	margin-left:15px;
	margin-right:15px;
	width:80%;
	-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	
	}
	
	.redsle{
		border:none;
		height:30px;
		text-align:center;
		
	
		}
	
	tbody#liste:before {
    line-height:1em;
    content:"-";
    color:white; /* to hide text */
    display:block;
}


table#myTable {
    /* collapsed, because the bottom shadow on thead tr is hidden otherwise */
    border-collapse: collapse;
}
th {padding: .5em .5em;}

/* Shadow on the header row*/
thead tr   { box-shadow: 0 1px 10px #000000;}



